.card
{
    margin: 5px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.dashboard
{
    margin: 0 150px;
}

.type-card
{
    cursor: pointer;
}

/*infinite-scroll*/
.search-results
{
    height: 30rem;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
}
