<section class="dynamic-display search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false">
    <div 
        class="card dynamic-display"
        *ngFor="let item of listView"
        (click)="goToDetail(item)">
        <img [src]="item.image" (error)="item.image = defaultImage" alt="Place image title">
        <p>{{item.name}}</p>
    </div>
</section>
<div class="loader" *ngIf="isLoading"></div>