.card
{
    z-index: 1;
    margin: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    position: relative;
    border: 1px solid gray;
    text-transform: uppercase;
    background-color: #fff;
}

.card span
{
    background-color: #dbdad2;
    border: 1px solid gray;
    border-radius: 5px;
    width: fit-content;
    margin: -10px auto;
    position: relative;
    display: block;
    padding: 5px;
}

.card p
{
    background-color: #dbdad2;
    border: 1px solid gray;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.7);
    white-space: nowrap;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden;
    margin: 1px 0;
    padding: 5px;
}

.card img
{
    width: 95px;
    height: 100px;
    padding: 0 25px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.5);
}

.type-card
{
    cursor: pointer;
}

/*infinite-scroll*/
.search-results
{
    width: 60%;
    height: 30rem;
    margin: 0 auto;
    padding: 20px 0;
    overflow: scroll;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

/* HTML: <div class="loader"></div> */
.loader {
    z-index: 999999;
    position: absolute;
    top: 80%;
    left: calc(50% - 32px);
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}