main
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ef5350;
}

mat-toolbar
{
    background-color: #ef5350;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

h1
{
    margin: 0 auto;
}

img
{
    width: 200px;
    margin-top: 13px;
}