.type-card
{
    margin: 5px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5db9ff;
    min-width: 60px;
    text-transform: capitalize;
}

.display-list
{
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
}

.selected
{
    background-color: #ef5350;
    transform: scale(1.1);
    transition: .5s;
}
