.type-card
{
    margin: 5px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5db9ff;
    min-width: 60px;
}

.display-list
{
    width: 100%;
    margin: 15px auto;
    max-width: 600px;
}
