
<main>
    <article class="flex-container caroussel-container">
        <mat-icon (click)="slideBy(left)">keyboard_arrow_left</mat-icon>
        <section class="flex-container caroussel" id="caroussel">
            <article 
                *ngFor="let type of pokemonTypesList" 
                (click)="onClickPokemonTypeBtn(type)">
                <img src="pikachu.png" alt="{{type.name}}">
                <p>{{type.name}}</p>
            </article>
        </section>
        <mat-icon (click)="slideBy(right)">keyboard_arrow_right</mat-icon>
    </article>
    <pokemon-type></pokemon-type>
</main>
