mat-icon, button, a
{
    cursor: pointer;
    font-size: 22px;
    overflow: visible;
    margin-right: 10px;
}

.logo-name
{
    margin: 0;
    font-size: 20px;
}

.small-logo
{
    width: 23px;
}

.sidenav 
{
    top: 0;
    left: 0;
    width: 0;
    z-index: 99; 
    height: 100%; 
    position: fixed;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: #f5f6f7;
    border: 1px solid rgba(0,0,0,.1);
}
  
.sidenav a 
{
    color: #000;
    display: flex;
    margin: 0 9px;
    font-size: 14px;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
  
.sidenav a:hover, .small-logo:hover
{
    transition: .5s;
    background-color: rgba(128,128,128,.1);
}

.sidenav a:hover mat-icon
{
    transition: .4s; 
    transform: scale(1.5);
}
  
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo-container
{
    height: 50px;
}
  
#main
{
    transition: margin-left .5s;
    padding: 20px;
}

.search-container
{
    z-index: 9;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    background-color: #f5f6f7;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0 20px 20px 0;
    box-shadow: 1px 1px 11px -2px rgba(128,128,128,.3);
}

.search-content
{
    margin: 10px 30px;
}

label
{
    display: block;
}

input
{
    border: none;
    width: 240px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}
  
@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}