<section class="sidenav" [ngStyle]="{ width : sideNavWidth }">
    <a href="">
        <p class="logo-name" *ngIf="!isSideNavOpen">PokemonApp</p>
        <img src="pokeball_icon.png" alt="" *ngIf="isSideNavOpen" class="small-logo">
    </a>
    <a href="#">
        <mat-icon>home</mat-icon>
        <span *ngIf="!isSideNavOpen">Home</span>
    </a>
    <a (click)="openNav()">
        <mat-icon>search</mat-icon>
        <span *ngIf="!isSideNavOpen">Pesquisa</span>
    </a>
    <a href="#">
        <mat-icon>favorite</mat-icon>
        <span *ngIf="!isSideNavOpen">Favoritos</span>
    </a>
</section>

<section class="search-container" [ngStyle]="{ left : searchNavPosition }">
    <div class="search-content">
        <h5>Pesquisa</h5>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Pesquisar">
        </mat-form-field>
    </div>
</section>

<div id="main">
    <router-outlet></router-outlet>
</div>