/* You can add global styles to this file, and also import other style files */

main
{
    width: 100%;
    text-align: center;
}

.flex-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dynamic-display
{
    display: inline-block;
}